*{
  margin: 10;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Comic Sans MS';
  background-color: #FED90F;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 40px;
}
